.navigation {
    a {
        color: #1f1f1f;
       
        &:hover {
            color: $primary-color_dark;
            text-decoration: none;
            font-weight: 600;
        }
    }

    .logo {
        max-width: 150px;
    }
}