.navibar {
    background-color: $primary-color_dark;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color:$primary-color_dark;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 999;
}

.active {
    left: 0;
    transition: 350ms;
    z-index: 999;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    transition: ease-in-out;
    transition-property: background-color;
    transition-duration: 100ms;
    text-decoration: none;
    color: $secondary-color;
    background-color: rgb(144, 47, 255);
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.568);
    border-bottom: 1px solid rgba(255, 255, 255, 0.568);
   padding-left: 20px;
}

@media (max-width: 768px) {
.bottom {
    bottom: 30px;
}
}

.nav-menu-items {
    width: 100%;
}

.navabr-toggle {
 background-color: #060b26;
 width: 100%;
 height: 80px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

span {
  margin-left: 16px;  
}