.timezone {
    .timezone__btn {
        background-color: $primary-color !important;
        color: $secondary-color;
        border-radius: 0%;
        border: none;
        width: 100%;
        @include btnstates();
    }
}